@model qltv.Models.Book

<div class="form-group col-md-5">
    <div class="position-relative">
        <label for="searchBook">Tìm sách</label>
        <input type="text" id="searchBook" name="searchBook" class="form-control fixed-width" placeholder="Nhập tên sách" />
        <ul id="bookResult" class="list-group  position-absolute"></ul>
    </div>
</div>
<input type="hidden" class="selected-book" name="selected-book" />